/* .vitepress/theme/custom.css */
:root {
  --vp-c-brand-1: #409eff;
  --vp-c-brand-2: #409effc9;
  --vp-c-indigo-3: #409eff;
  /* --vp-sidebar-width: 100px; */
  /* --vp-layout-max-width: 1920px; */
}

/* .content-container {
  max-width: 1000px !important;
} */
